{% extends 'AppBundle::layout.html.twig' %}
 
{% block title %}{{ 'comment.add.title'|trans({}, 'comment') }}{% endblock%}
 
{% block body %}
    <h1>{{ 'comment.blog.post'|trans({}, 'comment') }} "{{ comment.blog.title }}"</h1>
    {% include 'AppBundle:Comment:form.html.twig' with { 'form': form } %}
{% endblock %}
