{# src/AppBundle/Resouces/views/Blog/show.html.twig #}
{% extends 'AppBundle::layout.html.twig' %}
 
{% block title %}{{ blog.title }}{% endblock %}
 
{% block body %}
    <article class="blog">
        <header>
            <div class="date"><time datetime="{{ blog.created|date('c') }}">{{ blog.created|date('l, F j, Y') }}</time></div>
            <h2>{{ blog.title }}</h2>
        </header>
        <img src="{{ asset(['bundles/app/images/blog/', blog.image]|join) }}" alt="{{ blog.title }} image not found" class="large" />
        <div>
            <p>{{ blog.blog }}</p>
        </div>
    </article>

    <section class="comments" id="comments">
        <section class="previous-comments">
            <h3>{{ 'comment.plural'|trans({}, 'comment') }}</h3>
            {% include 'AppBundle:Comment:index.html.twig' with { 'comments': comments } %}
        </section>
        <h3>{{ 'comment.add.title'|trans({}, 'comment') }}</h3>
        {{ render(controller( 'AppBundle:Comment:new', { 'blog_id': blog.id } )) }}
    </section>
{% endblock %}
