{# src/AppBundle/Resources/views/Page/index.html.twig #}
{% extends 'AppBundle::layout.html.twig' %}
 
{% block body %}
    {% for blog in blogs %}
        <article class="blog">
            <div class="date"><time datetime="{{ blog.created|date('c') }}">{{ blog.created|date('l, F j, Y') }}</time></div>
            <header>
                <h2><a href="{{ path('app_blog_show', { 'id': blog.id, 'slug': blog.slug }) }}">{{ blog.title }}</a></h2>
            </header>
 
            <img src="{{ asset(['bundles/app/images/blog/', blog.image]|join) }}" />
            <div class="snippet">
                <p>{{ blog.blog(500) }}</p>
                <p class="continue"><a href="{{ path('app_blog_show', { 'id': blog.id, 'slug': blog.slug }) }}">{{ 'blog.continue.reading'|trans({}, 'blog') }}</a></p>
            </div>
 
            <footer class="meta">
                <p>{{ 'blog.comment.plural'|trans({}, 'blog') }}: <a href="{{ path('app_blog_show', { 'id': blog.id, 'slug': blog.slug }) }}#comments">{{ blog.comments|length }}</a></p>
                <p>{{ 'blog.post.by'|trans({}, 'blog') }} <span class="highlight">{{ blog.author }}</span> at {{ blog.created|date('h:iA') }}</p>
                <p>{{ 'blog.tag.plural'|trans({}, 'blog') }}: <span class="highlight">{{ blog.tags }}</span></p>
            </footer>
        </article>
    {% else %}
        <p>{{ 'blog.no.entries'|trans({}, 'blog') }}</p>
    {% endfor %}
{% endblock %}
