{# src/AppBundle/Resources/views/Sidebar/sidebar.html.twig #}

<!--| Language Switcher |-->
<section class="section">
    <header>
    <h3><a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color:#337ab7"><!--<span class="glyphicon glyphicon-globe" aria-hidden="true"></span>&nbsp;&nbsp;-->{{ 'sidebar.language.switcher'|trans({}, 'sidebar') }}</a></h3>
    <header>
        <p>
            <center>
                <a href="{{ url('switch_language_english') }}" style="color:#337ab7">
                <img src="{{ asset('bundles/app/images/flags/us.png') }}" alt="{{ 'sidebar.locale.english'|trans({}, 'sidebar') }}">&nbsp;&nbsp;{{ 'sidebar.locale.english'|trans({}, 'sidebar') }}</a>
                <a href="{{ path('switch_language_german') }}" style="color:#337ab7">
                <img src="{{ asset('bundles/app/images/flags/de.png') }}" alt="{{ 'sidebar.locale.german'|trans({}, 'sidebar') }}">&nbsp;&nbsp;{{ 'sidebar.locale.german'|trans({}, 'sidebar') }}</a>
            </center>
        </p>
</section>

<!--| Tag Cloud |-->
<section class="section">
    <header style="color:#337ab7">
        <h3>{{ 'sidebar.tag.cloud'|trans({}, 'sidebar') }}</h3>
    </header>
    <p class="tags">
        {% for tag, weight in tags %}
            <span class="weight-{{ weight }}">{{ tag }}</span>
        {% else %}
            <p>{{ 'sidebar.no.tags'|trans({}, 'sidebar') }}</p>
        {% endfor %}
    </p>
</section>


<!--| Recent Comments -->
<section class="section">
    <header style="color:#337ab7">
        <h3>{{ 'sidebar.latest.comments'|trans({}, 'sidebar') }}</h3>
    </header>
    {% for comment in latestComments %}
        <article class="comment">
            <header>
                <p class="small"><span class="highlight">{{ comment.user }}</span> commented on
                    <a href="{{ path('app_blog_show', { 'id': comment.blog.id, 'slug': comment.blog.slug }) }}#comment-{{ comment.id }}">{{ comment.blog.title }}</a>
                    [<em><time datetime="{{ comment.created|date('c') }}">{{ comment.created|date('Y-m-d h:iA') }}</time></em>]
                </p>
            </header>
            <p>{{ comment.comment }}</p>
            </p>
        </article>
    {% else %}
            <p>{{ 'sidebar.no.comments'|trans({}, 'sidebar') }}</p>
    {% endfor %}
</section>


<!--| Show App Version (Shiva's Versioning) -->
{# Below we have the project version showing. Tray to keep at the bottom #}
<section class="section">
    <header style="color:#337ab7">
        <h3>{{ 'sidebar.software.version'|trans({}, 'sidebar') }}</h3>
    </header>
    <p>
        HubShark CMS - <font size="-2"><b>{{ app_version }}</b></font>
    </p>
</section>
